
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    margin: 0 auto;
    background-color:blue;
    text-align: center;
    background-image: url('https://cdn.pixabay.com/photo/2021/11/04/10/46/apes-6767945_960_720.jpg');
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size:cover ;
    font-style: italic;
    font-size: medium;
    
    
    
}

.m-5-auto {
    margin: 5rem auto;
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
}

/***    Landing Page     ***/

.main-title,
.main-para {
    color: #f1f1f1;
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    color:black;
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize;
    color: #333;
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/

h2 {
    font-weight: 300;
    font-size: medium;
    font-style: calc;
    font-display: inherit;
}

form {
    display: inline-block;
    background: hsl(0, 9%, 71%);
    border: 1px solid rgb(227, 212, 5);
    border-radius: 2px;
    padding: 2rem;
    margin: 2rem 0 1rem 0
}

form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

.right-label {
    float: right;
    cursor: pointer;
}

input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: medium;
    font-style: oblique;

}

#sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: #ede3e3;
    color: #fff;
    border-radius: 3px;
}

#sub_btn:hover {
    background: rgb(230, 229, 234);
    transition: all .5s;
}

footer p {
    margin: 0;
    font-size: .9rem;
}

/***    Register Page     ***/

#checkbox {
    width: 1rem;
    font-style: inherit;
    font-size: medium;
}

form span {
    font-size: .8rem;
}

#reset_pass_lbl {
    float: left;
    font-size: medium;
    font-style:italic;
}

/***    Home Page     ***/
.home-page{
    background-image:url('https://cdn.pixabay.com/photo/2021/11/04/10/46/apes-6767945__340.jpg') ;
}
.home-page-title {
    color: rgb(209, 12, 12);
}

.linksDiv a{
    color:#b62929;
    background-color:white;
}


    



